*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url('image7.jpg');
    background-size: cover;
}

main {
    width: 100%;
    margin-top: 50px;
    flex-grow: 1; /* Expand to fill remaining vertical space */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

/* -----------------------------------*/
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}
/* -----------------------------------*/

/* search bar css */
.search{
    width: 330px;
    float: left;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.srch::placeholder{
    color: white;
    opacity: 0.8;
}
.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

/* ----------------------------------- */

.incident-history, td {
    border:1px solid #ff7200;
    border-collapse: collapse;
    color: white;
    height: 50px;
}
.incident-history th {
    border:1px solid white;
    background-color: #ff7200;
    padding: 0px 10px;
}
.incident-history td {
    padding-left: 10px;
}

.inc-hist-desc {
    width: 500px;
}